{% extends 'base.html' %}

{% block content %}
    <div style="width: 500px; margin: 200px auto; text-align: center">
        <h3>비밀번호 찾기</h3>
        <form method="post">
        {% csrf_token %}{{ form.as_p }}
             <label style="margin-bottom: 0px ;
    display: inline-block; padding: .3em .70em; color: #fff; font-size: inherit;
    line-height: normal; vertical-align: middle; background-color: #1e88e5; cursor: pointer;
    border: 1px solid #ebebeb; border-bottom-color: #e2e2e2; border-radius: .25em; }" for="Submit">보내기</label>
            <button  style=" position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0; " type="보내기" id="Submit">Submit</button>
            <p>
                * 등록된 이메일을 입력하세요
                <br>
                    * 메일에 들어가서 비밀번호를 변경하세요
                </br>
            </p>

  </form>
    </div>

{% endblock %}